<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Video List - Backbone and RequireJS</title>
 <link rel="stylesheet" href="css/style.css">
 
</head>
<body>

	  	<div  class="form">
			<form id="movies" action="">
				<div><label>título:</label><input class="data" type="text" id="title" name="title" value="" required>
				<div><label>genero:</label><input class="data" type="text" id="genre" name="genre" required>
				<div><label>duración:</label><input class="data" type="number" id="duration" name="duration" required></div>
				<div>
					<label>sinopsis</label>
					<div class="divArea"><textarea class="data" id="sinopsis" name="sinopsis" required></textarea></div>
				</div>
				<input type="button" value="cargar" id="add">
				<input type="reset" value="cancelar" id="cancel">
			</form>
		</div>

		<script id="moviesList" type="text/template">
		    <ul>
		        <li><%= title%></li>
		        <li><%= genre%></li>
		        <li><%= duration %></li>
		        <li><%= sinopsis %></li>
		    </ul>
		    <input type="button"  class="delete" value="Delete">
		</script>
	
		<script data-main="js/main" src="js/libs/require/require.js"></script>
</body>
</html>