body{
	margin: 0 0 0 0;
	background-color: grey;
	color: #777;
	font-family:Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
}

h1{
	color: black;
	text-align: center;
}

.form{
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	width: 500px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #CCC;
}
.form div{
	padding-bottom: 5px;
}
.form label{
	text-align: left;
	width: 300px;
	
}

input[type="number"],input[type="text"], textarea{
	border:none;
	width: 250px;
}
input[type="number"],input[type="text"]{
	border-bottom: 1px solid #ccc;
}

.container-movies {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #49a5bf;
	color: #FFF;
	width: 90%;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #CCC;
    padding: 5px;

}

.container-movies table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-spacing:0;
  	border-collapse:collapse;
}

tbody td {
	padding: 5px 0 5px 0;
}

thead td{
	text-transform: uppercase;
	padding: 5px 0 3px 0;
	color: #777;
	border-bottom: 1px solid #777; 
}

.table-functions{
	text-align: right;
}

.menu-container{
	padding: 7px;
	border-bottom: 1px solid #666;
	background: rgba(147,206,222,1);
background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 35%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(35%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 35%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 35%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 35%, rgba(73,165,191,1) 100%);
background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 35%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
}
.menu-container .menu{
	color: #FFF;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
}
.menu-container .menu:hover{
	color: green;
}

.container-page .normal{
	text-decoration: none;
	color: orange;
}
.container-page .normal:hover{
	color: #666;
}

.error-msg{
	float: center;
	margin: 10px;
	display: none;
}