<div class="table table-hover" >
<table align="center"><thead><tr><td>título</td><td>genero</td><td>duración</td><td>sinopsis</td><td></td></tr></thead>
	<tbody>
<% _.each(movies, function(item) { %> 
<tr>
	<td><%= item.title%></td>
	<td><%= item.genre%></td>
	<td><%= item.duration %></td>
	<td><%= item.sinopsis %></td>
	<td class="table-functions">
	<a href="/#delete/<%= item.id %>" class="btn btn btn-primary">Eliminar</a>
	<a href="/#edit/<%= item.id %>" class="btn btn btn-primary">Editar</a>
	</td>
</tr>
<% }); %>
</tbody>
<tfoot><td colspan="5"></td></tfoot>
</table>
</div>