<form id="movies" action="">
	<div><label>título:</label><input class="data" type="text" id="title" name="title" value="" required>
	<div><label>genero:</label><input class="data" type="text" id="genre" name="genre" required>
	<div><label>duración:</label><input class="data" type="number" id="duration" name="duration" required></div>
	<div>
		<label>sinopsis</label>
		<div class="divArea"><textarea class="data" id="sinopsis" name="sinopsis" required></textarea></div>
	</div>
	<input type="button" value="cargar" id="add">
	<input type="reset" value="cancelar" id="cancel">
</form>