<div id="formContainer" class="form">
<form id="movies" action="">
		<input type="hidden" class="data" id="id" name="id" value="" required  >
	<div>
		<label>título:</label>
		<input class="data" type="text" id="title" name="title" value="" required  >
	</div>	
	<div>
		<label>genero:</label>
		<input class="data" type="text" id="genre" name="genre" value="" required>
	</div>	
	<div>
		<label>duración:</label>
		<input class="data" type="number" id="duration" name="duration" value="" required>
	</div>
	<div>
		<label>sinopsis</label>
		<div class="divArea"><textarea class="data" id="sinopsis" name="sinopsis" required></textarea></div>
	</div>
	<a href="/#addMovie" class="button submit">agregar</a>
	<input type="button" class="button cancel" value="cancelar" >
</form>
</div>